{
    "extends": [
        "prettier",
        "rallycoding"
    ],
    "plugins": [
        "react",
        "prettier",
        "json",
        "html"
    ],
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": "error",
        "quotes": [
            "error",
            "double"
        ]
    }
}